/* Variables */
:root {
	--primary-cyan: hsl(179, 62%, 43%);
	--primary-light-cyan: hsl(176, 55%, 48%);
	--primary-dark-cyan: hsl(176, 55%, 35%);
	--primary-bright-yellow: hsl(71, 73%, 54%);

	--neutral-light-gray: hsl(204, 43%, 93%);
	--neutral-light-gray-500: hsl(204, 43%, 90%);
	--neutral-grayish-blue: hsl(218, 22%, 67%);

	--fw-regular: 400;
	--fw-bold: 700;
}

/* CSS Reset */
/*
1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
	margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
	font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}

/* Utilizies */
.grid-center {
	display: grid;
	place-items: center;
}

/* General styling */

body {
	font-family: "Karla", sans-serif;
	font-size: 1rem;
	font-weight: var(--fw-regular);
	background-color: var(--neutral-light-gray);
	color: var(--neutral-light-gray);
	min-height: 100vh;
	overflow-y: hidden;
}

/* Button */

.btn {
	background-color: var(--primary-bright-yellow);
	color: white;
	border: 0;
	border-radius: 0.3rem;
	cursor: pointer;
	padding: 0.7rem 1.5rem;
	box-shadow: 0rem 0.5rem 1rem var(--primary-dark-cyan);
}

/* Subscription styles */

.subscription {
	background-color: white;
	border-radius: 0.5rem;
	max-width: 50vw;
	overflow: hidden;
}

section {
	padding: 2rem;
}

.subscription__join {
	color: var(--neutral-grayish-blue);
}

.sibscription__guarantee {
	margin: 1rem 0;
	color: var(--primary-bright-yellow);
	font-size: 1.125rem;
}

.subscription__cta {
	color: var(--primary-cyan);
	font-weight: var(--fw-bold);
	font-size: 1.5rem;
	letter-spacing: 1px;
}

.subscription__title {
	color: white;
	font-weight: var(--fw-regular);
	margin-bottom: 0.5rem;
}

.subscription__package {
	color: white;
	background-color: var(--primary-cyan);
	display: grid;
}

.subscription__price {
	display: flex;
	align-items: flex-end;
	gap: 1rem;
	margin-bottom: 0.5rem;
	color: var(--neutral-light-gray-500);
}

#price {
	font-size: 2rem;
	line-height: 1;
}

.subscription__price-description {
	margin-bottom: 1rem;
}

.subscription__motivation {
	background-color: var(--primary-light-cyan);
}

.motivation__list {
	list-style: none;
	margin-left: -2.5rem;
	color: var(--neutral-light-gray-500);
}

@media (min-width: 768px) {
	.subscription {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.subscription__join {
		grid-column: 1 / span 2;
	}
}
